
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <include file="Public/left" />
            </div>
            <div class="col-sm-9">
                <div class="blog-post-area">
                    <h2 class="title text-center">关于商城</h2>
                    <div class="single-blog-post">
                        <p><small><{$deep_summary}></small></p>
                        <p>
                            <{$deep_content}>
                        </p>
                    </div>
                </div><!--/blog-post-area-->


                <div class="socials-share">
                    <include file="Public/share" />
                </div><!--/socials-share-->
            </div>
        </div>
    </div>
</section>
	