<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">行业信息</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">

                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>模板key</th>
                                <th>模板标题</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="data" id="list" empty="暂时没有数据" >
                                <tr class="odd gradeX">
                                    <td><{$list.temp_id}></td>
                                    <td><{$list.temp_key}></td>
                                    <td><{$list.temp_title}></td>
                                    <td><{$list.create_time|date="Y-m-d",###}></td>
                                    <td>
                                        <a class="btn btn-danger" href="<{:U('Temp/delete',array('temp_id'=>$list['temp_id']))}>">删除</a>
                                        <a class="btn btn-primary  "href="<{:U('Temp/puts',array('temp_id'=>$list['temp_id']))}>">推送</a>
                                    </td>
                                </tr>
                            </volist>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
