<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="<{:U('Index/index')}>">首页</a></li>
                <li class="active">购物车</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">名称</td>
                        <td class="image">图片</td>
                        <td class="description">描述</td>
                        <td class="price">价钱</td>
                        <td class="quantity">数量</td>
                        <td class="total">总额</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                <empty name="cart_list">
                    <tr>
                        <td class="cart_price" colspan="6" >
                            <p style="text-align: center;margin-top: 20px;">购物车为空</p>
                        </td>
                    </tr>
                    <else />
                    <volist name="cart_list" id="cart">
                        <tr>
                            <td class="cart_price">
                                <p><{$cart['product_name']}></p>
                            </td>
                            <td class="cart_product">
                                <a href=""><img width="80" src="__PUBLIC__/Uploads/product/<{$cart.image}>" alt=""></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href=""><{$cart['product_name']}></a></h4>
                                <p>Product ID: <{$cart['product_id']}></p>
                            </td>
                            <td class="cart_price">
                                <p>￥<{$cart['price']}></p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a class="cart_quantity_down cut_cart"  data-id = " <{$cart['cart_id']}>"> - </a>
                                    <input class="cart_quantity_input" type="text" name="quantity" value="<{$cart['quantity']}>" autocomplete="off" size="2">
                                    <a class="cart_quantity_up add_cart" data-id = " <{$cart['cart_id']}>"> + </a>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">￥<{$cart['price'] * $cart['quantity'] }></p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href="<{:U('Cart/delete',array('cart_id'=>$cart['cart_id']))}>"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    </volist>
                </empty>

                </tbody>
            </table>
            <div style="margin-bottom: 20px;float: right">
                <a class="btn btn-default update" href="<{:U('Product/index')}>">继续购物</a>
                <a class="btn btn-default check_out" href="<{:U('Order/index')}>">结算</a>
            </div>
        </div>

    </div>
</section> <!--/#cart_items-->
<script src="__PUBLIC__/Home/js/jquery.js"></script>
<script type="text/javascript">
    $('.add_cart').click(function(){
        var cart_id = this.getAttribute("data-id");
        var path = "<{:U('Cart/cut')}>"
        $.post(path,{cart_id:cart_id,tag_type:"add"},function(data){
            if(data.status == 1){
                alert(data.info);
                window.location.replace(data.url);
            }else{
                alert(data.info);
                window.location.replace(data.url);
            }
        });
    })
    $('.cut_cart').click(function(){
        var cart_id = this.getAttribute("data-id");
        var path = "<{:U('Cart/cut')}>"
        $.post(path,{cart_id:cart_id,tag_type:"cut"},function(data){
            if(data.status == 1){
                alert(data.info);
                window.location.replace(data.url);
            }else{
                alert(data.info);
                window.location.replace(data.url);
            }
        });
    })
</script>