
<section>
<div class="container">
<div class="row">
<div class="col-sm-3">
    <include file="Public/left" />
</div>
<div class="col-sm-9">
    <div class="blog-post-area">
        <h2 class="title text-center">最近文章</h2>
        <div class="single-blog-post">
            <h3><{$single.title}></h3>
            <div class="post-meta">
                <ul>
                    <li><i class="fa fa-user"></i> Mac Doe</li>
                    <li><i class="fa fa-clock-o"></i> <{$single.create_time|date="H:s:m",###}></li>
                    <li><i class="fa fa-calendar"></i> <{$single.create_time|date="Y-m-d",###}></li>
                </ul>
								<span>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
								</span>
            </div>
            <a href="<{:U('CmsPost/single',array('post_id'=>$single['post_id']))}>">
                <img src="__PUBLIC__/Uploads/cms/<{$single.image}>" alt="">
            </a>
            <p>
                <{$single.content}>
             </p>
            <div class="pager-area">
                <ul class="pager pull-right">
                    <li><a href="#">Pre</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div><!--/blog-post-area-->

    <div class="rating-area">
        <ul class="ratings">
            <li class="rate-this">Rate this item:</li>
            <li>
                <i class="fa fa-star color"></i>
                <i class="fa fa-star color"></i>
                <i class="fa fa-star color"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </li>
            <li class="color">(6 votes)</li>
        </ul>
        <ul class="tag">
            <li>TAG:</li>
            <li><a class="color" href="">Pink <span>/</span></a></li>
            <li><a class="color" href="">T-Shirt <span>/</span></a></li>
            <li><a class="color" href="">Girls</a></li>
        </ul>
    </div><!--/rating-area-->

    <div class="socials-share">
        <include file="Public/share" />
    </div><!--/socials-share-->
</div>
</div>
</div>
</section>
	