<!---start-content---->
<div class="content">
    <!---start-blog-page---->
    <div class="blog" style="text-align: center">
        <div class="wrap">
            <div class="single-page-artical">
                <div class="artical-content">
                    <h3 style="text-align: center"><{$detail.title}></h3>
                    <p><{$detail.summary}></p>
                    <img src="__PUBLIC__/Home/images/slider3.jpg" width="600px" title="banner1">
                    <p><{$detail.content}></p>
                </div>
            </div>
        </div>
    </div>
    <!---End-blog-page---->
</div>
<div class="clear"> </div>
<!---End-content----><br /><br />