<div class="left-sidebar">
    <h2>个人中心</h2>
    <div class="panel-group category-products" style="text-align: center" id="accordian"><!--category-productsr-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="<{:U('User/index')}>">个人信息</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="<{:U('User/pwd')}>">修改密码</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="<{:U('User/info')}>">修改资料</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="<{:U('Wish/index')}>">我的收藏</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="<{:U('Shipping/index')}>">地址信息</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">我的订单</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="<{:U('User/logout')}>">退出登录</a></h4>
            </div>
        </div>
    </div><!--/category-products-->
</div>